facexlib==0.3.0
imageio==2.34.2
kornia==0.7.3
librosa==0.10.1
lws==1.2.8
numpy==1.23.5
omegaconf==2.3.0
opencv_contrib_python==4.10.0.82
opencv_python==4.10.0.84
opencv_python_headless==4.10.0.84
Pillow==10.4.0
pykalman==0.9.7
PyYAML==6.0.1
safetensors==0.3.1
scipy==1.14.1
tqdm==4.66.4
